<template>
  <div>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Administration panel</a>
      <button
          class="navbar-toggler position-absolute d-md-none collapsed"
          type="button"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
          @click="sidebarToggled = !sidebarToggled"
      >
        <span class="navbar-toggler-icon"/>
      </button>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" @click.prevent="logout()">Sign out</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <Sidebar :sidebar-items="sidebarItems" :toggled="sidebarToggled"/>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <b-alert style="margin: 15px; text-align: center" :show="!backendOnline" variant="danger">
            The backend is currently offline. Some functionality might be limited.
          </b-alert>
          <Nuxt/>
        </main>
      </div>
    </div>
  </div>
</template>
<script>
import Sidebar from '@/components/sidebar/Sidebar'
import sidebarItems from '@/components/sidebar/sidebarItems'
import socket from '../plugins/socket.io.js'
import {mapState} from "vuex";

export default {
  components: {Sidebar},
  data() {
    return {
      sidebarToggled: false,
      sidebarItems,
    }
  },
  async created() {
    if (!this.$store.state.devices.init) {
      await this.$store.dispatch('devices/get')
    }
    socket.on('connect', () => {
      this.$store.dispatch('setBackendOnline', true)
    })
    socket.io.on('connect_error', () => {
      this.$store.dispatch('setBackendOnline', false)
    })
    socket.on('new device', () => {
        this.$store.dispatch('devices/get')
      })
    socket.on('sensor value', message => {
      this.$store.dispatch('devices/setDeviceValue', {
        _id: message.sensor_id,
        value: Math.round(message.value * 10) / 10
      })
    })
    socket.on('device state update', (_id, status) => {
      this.$store.dispatch('devices/setDeviceStatus', {_id, status})
    })
    socket.on('device deleted', (_id) => this.$store.dispatch('devices/remove', _id))

    socket.on('Devices activation', (message) => {
      this.updateActuator(message)
    })

  },
  computed: {
    ...mapState({
      backendOnline: state => state.backendOnline
    }),
  },
  methods: {
    async logout() {
      await this.$auth.logout().then((resp) => {
        this.$router.replace({name: 'login'})
      })
    },
    updateActuator(message) {
      this.$bvToast.toast('Value read: ' + message.value + '\n' + message.type + (message.activation ? ' activated, ' : ' deactivated, '), {
        title: 'Updated Actuator status',
        autoHideDelay: 4000, variant: 'success', solid: true
      })
    },
  }
}
</script>
<style>

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

</style>
