<template>
  <b-row>
    <b-col>


    <h2 style="cursor: pointer" @click="$router.push('/devices')">
      Sensors
    </h2>
    <p v-if="favSensors == null">
      Error while fetching favorite devices
    </p>
    <div v-else class="device-section">
      <b-table
        show-empty
        striped
        hover
        :items="favSensors"
        :fields="sensorFields"
      />
    </div>
    </b-col>
    <b-col>
    <h2 style="cursor: pointer" @click="$router.push('/devices')">
      Actuators
    </h2>
    <b-table
      show-empty
      striped
      hover
      :items="favActuators"
      :fields="actuatorFields"
    />
    </b-col>
  </b-row>
</template>

<script>
export default {
  props: {
    favSensors: Array,
    favActuators: Array
  },
  data () {
    return {
      sensorFields: [
        {
          key: 'name',
          name: 'Name',
          formatter: 'capitalize'
        },
        {
          key: 'subtype',
          name: 'Subtype',
          formatter: 'capitalize'
        },
          { key: 'value',
          name: 'Value'},
        {
          key: 'status',
          name: 'Status',
          formatter: value => {
            return value ? 'On' : 'Off'
          }
        }],
      actuatorFields: [
        {
          key: 'name',
          name: 'Name',
          formatter: 'capitalize'
        },
        {
          key: 'subtype',
          name: 'Subtype',
          formatter: 'capitalize'
        },
        ' ',
        {
          key: 'status',
          name: 'Status',
          formatter: value => {
            return value ? 'On' : 'Off'
          }
        }],
    }
  },
  methods: {
    capitalize(value){
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  }
}
</script>
