<template>
  <div>
    <div class="graph-container">
      <line-chart v-if="loadedOutside" ref="chart" :chart-data="datacollection" :options="options"/>
    </div>
  </div>
</template>

<script>
import LineChart from '@/components/Graph'
import socket from '~/plugins/socket.io.js'

export default {
  name: 'TemperatureGraph',
  components: {LineChart},
  props: {
    favSensors: Array,
  },
  data() {
    return {
      city: 'Amsterdam',
      datacollection: {
        labels: [],
        datasets: []
      },
      options: null,
      sensors: [],
      ndatapoints: 40,
      outsideTemps: [],
      loadedOutside: false,
      borderColor: [
        'rgba(54, 162, 235, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255,99,132,1)',
        'rgba(255, 159, 64, 1)'
      ],
    }
  },
  watch: {
    favSensors: {
      handler: function () {
        this.getSensorData()
      }
    }
  },
  created() {
    this.getSensorData()
  },
  beforeMount() {
    socket.on('sensor value', message => {
      this.addSensorData(message.time, message.value, message.sensor_id)
    })
    this.options = this.getOptions()
    this.getOutsideData()
  },
  methods: {
    addSensorData(date, temp, id) {
      //Get favorite sensors
      this.favSensors.forEach((favSensor, index) => {
        if (index > 4) {
          return
        }
        //Check if the message is form a favorite Sensor
        if (favSensor._id === id) {
          //Is is a new sensor?
          let sensorExists = -1
          this.sensors.forEach((currentSensor, index2) => {
            if (favSensor._id === currentSensor.id) { //existing sensor
              sensorExists = index2
              currentSensor.sensorDates.unshift(date)
              currentSensor.sensorTemp.unshift(temp)
            }
          })
          if(sensorExists !== -1){ //new sensor
            this.sensors.push({
              id: favSensor._id,
              name: favSensor.name,
              sensorDates: [date],
              sensorTemp: [temp],
              color: this.borderColor[sensorExists],
            })
          }
          if (this.$refs.chart != null) {
            this.$refs.chart.$data._chart.update()
          }
        }
      })
    },
    getOptions() {
      return {
        maintainAspectRatio: false,
        responsive: true,
        title: {
          display: true,
          text: 'Weather forecast for ' + this.city
        },
        tooltips: {
          callbacks: {
            label(tooltipItem, data) {
              return tooltipItem.yLabel + ' °C'
            }
          }
        },
        scales: {
          yAxes: [{
            ticks: {
              // Include a Celsius sign in the ticks
              callback(value, index, values) {
                return value + '°C'
              }
            }
          }],
          xAxes: [{
            type: 'time',
            time: {
              parser: 'YYYY/MM/DD HH:mm:ss',
              tooltipFormat: 'HH:mm DD/MM',
              unit: 'minute',
              unitStepSize: 1,
              displayFormats: {
                day: 'HH/mm'
              }
            },
            ticks: {
              maxTicksLimit: 10
            }
          }]
        },
        animation: {
          duration: 0
        },
        hover: {
          animationDuration: 0
        },
        responsiveAnimationDuration: 0,
        annotation: {
          annotations: [{
            type: 'line',
            mode: 'horizontal',
            scaleID: 'y-axis-0',
            value: 5,
            borderColor: 'rgb(254, 215, 102)',
            borderWidth: 4,
            label: {
              enabled: false,
              content: 'Test label'
            }
          }]
        }
      }

    },
    getSensorData() {
      this.favSensors.forEach((favSensor, index) => {
        if (index > 4) {
          return
        }
        this.$axios.get('/temperature', {params: {id: favSensor._id}})
            .then(response => {
              let sensorExists = false
              this.sensors.forEach(s => {
                    if (s.id === favSensor._id) {
                      sensorExists = true
                    }
                  }
              )
              if(!sensorExists) {
                let sensorDates = response.data.result.map((list) => {
                  return list.time
                })
                sensorDates.forEach((value, index) => {
                  let newDate = value.replace('T', ' ')
                  sensorDates[index] = newDate.slice(0, -5)
                })
                let sensorTemps = response.data.result.map((list) => {
                  return list.value
                })
                this.sensors.unshift({
                  id: favSensor._id,
                  name: favSensor.name,
                  sensorDates: sensorDates,
                  sensorTemp: sensorTemps,
                  color: this.borderColor[index],
                })
                this.fillLabels(sensorDates)
                this.fillData(favSensor.name, sensorTemps, this.borderColor[index])
              }
            }).catch(error => console.log(error))
      })
    },
    fillData(name, temps, color) {
      this.datacollection.datasets.push(
          {
            label: name,
            borderColor: color,
            backgroundColor: color,
            data: temps,
            fill: false
          }
      )
    },
    fillLabels(dates) {
      this.datacollection.labels = dates
    },
    getOutsideData() {
      if (this.chart != null) {
        this.chart.destroy()
      }
      this.$axios.get('/weather/current')
          .then(response => {
            this.outsideTemp = response.data.current.temp
            this.fillData('Outside', [this.outsideTemp], 'rgb(254, 215, 102)')
            this.options.annotation.annotations[0].value = this.outsideTemp
            this.loadedOutside = true
          }).catch(error => console.log("Error : ", error))
    }
  }
}

</script>

<style scoped>
.graph-container {
  width: 800px;
  border: 3px solid rgba(0, 0, 0, .125);
  border-radius: .4rem;
  margin: 5px;
  padding: 5px;
}

</style>
