<template>
    <div>
        <b-row>
            <b-col>
                <slot/>
            </b-col>
            <b-col cols="12" sm="5">
                <b-input-group>
                    <b-form-input v-model="filter" placeholder="Type to filter results" />
                    <b-input-group-append>
                        <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-table striped
                         hover
                         :items="users"
                         :fields="fields"
                         :filter="filter"
                         >
                </b-table>
            </b-col>
        </b-row>
    </div>
</template>

<script>

export default {
  name: 'UsersTable',
  props: {
    users: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      fields: [
        { label: 'Name', key: 'name', sortable: true },
        { label: 'E-mail', key: 'email', sortable: true },
      ],
      filter: '',
      loading: true,
    };
  },
  watch: {
    users(val) {
      this.loading = !val;
    },
  },
};
</script>

<style scoped>

</style>
