<template>
  <div />
</template>

<script>
export default {
  name: 'WeatherWidget',
  data () {
    return {
      outside: null,
      outside_loading: true,
      outside_error: false
    }
  },
  methods: {
    getOutsideReadings () {
      this.$axios.get('https://api.openweathermap.org/data/2.5/weather?id=2755251&appid=9135bccafaf5b5837f571f3c59745e07')
        .then((response) => {
          console.log(response)
          if (response.data !== null) {
            this.outside = response.data
            this.outside_loading = false
          }
        }).catch((err) => {
          this.outside_error = true
          this.outside_loading = false
          if (err.response) { // received error
            console.error('Received error' + err.response)
          } else if (err.request) { // never received response or failed to make request
            console.error('Did not receive a response.')
          }
          console.error('Something went wrong.' + err)
        })
    }
  }
}
</script>

<style scoped>

</style>
