<template>
  <div class="container">
    <div>
      <h1 class="title">
        Datastream example
      </h1>
      <div>
        Live sensor value: {{ sensorValue }}
      </div>
    </div>
  </div>
</template>
<script>
import socket from '~/plugins/socket.io.js'

export default {
  middleware: ['auth'],
  layout: 'admin',
  data () {
    return {
      sensorValue: ''
    }
  },
  computed: {
    state () {
      return 0
    }
  },
  beforeMount () {
    socket.on('message', (value) => {
      this.sensorValue = value
    })
  },
  methods: {

  },
  title: 'Datastream example'

}
</script>
