<template>
  <div>
    <div>
      <h1 class="title">
        Devices
      </h1>
      <p v-if="devices == null">
        Error while fetching devices in SSR.
      </p>
      <div class="device-section">
        <DevicesOverview :devices="devices" type="Sensor"/>
        <DevicesOverview :devices="devices" type="Actuator"/>
      </div>
    </div>
  </div>
</template>

<script>
    import DevicesOverview from '../components/devices/DevicesOverview.vue'
    import {mapState} from "vuex";

    export default {
        components: {DevicesOverview},
        middleware: ['auth'],
        layout: 'admin',
        computed: {
            ...mapState({
                devices: state => state.devices.list
            })
        },
    }
</script>

<style>
  .device-section {
    margin-top: 8px
  }
</style>
