<template>
  <div class="container">
    <div>
      <h1 class="title">
        Welcome!
      </h1>
      <b-col>
        <b-row>
<!--          <WeatherWidget />-->
          <TemperatureGraph :favSensors="favSensors"/>
        </b-row>
        <b-row>
          <Favorites :favSensors="favSensors" :favActuators="favActuators"/>
        </b-row>
      </b-col>
    </div>
  </div>
</template>

<script>
    import TemperatureGraph from '../components/TemperatureGraph'
    import WeatherWidget from '../components/WeatherWidget'
    import Favorites from '../components/Favorites'
    import {mapState} from "vuex";


    export default {
        components: {WeatherWidget, TemperatureGraph, Favorites},
        middleware: ['auth'],
        layout: 'admin',

        computed: {
            ...mapState({
                backendOnline: state => state.backendOnline
            }),
            favSensors() {
              return this.$store.getters["devices/favoriteSensors"]
            },
            favActuators() {
              return this.$store.getters["devices/favoriteActuators"]
            }
        }

    }
</script>
