<template>
  <div class="text-center">
    <b-overlay :show="loading" rounded="sm">
      <form class="form-signin" method="post" @submit.prevent="userLogin">
        <h1 class="h3 mb-3 font-weight-normal">
          Please sign in to access the Control Panel
        </h1>
        <b-alert v-if="error" show variant="danger">
          {{ error }}
        </b-alert>
        <b-alert v-model="showAlert" variant="danger">
          The backend is currently offline, come back later!
        </b-alert>

        <label for="inputEmail" class="sr-only">Email address</label>
        <b-form-input
          id="inputEmail"
          v-model="form.email"
          type="email"
          class="form-control"
          required
          autofocus
          placeholder="Enter email"
        />
        <label for="inputPassword" class="sr-only">Password</label>
        <b-form-input
          id="inputPassword"
          v-model="form.password"
          type="password"
          class="form-control"
          required
          placeholder="Enter password"
        />
        <button :disabled="backendStatus === 'offline'" class="btn btn-lg btn-primary btn-block" type="submit">
          Sign in
        </button>
      </form>
    </b-overlay>
  </div>
</template>

<script>
import socket from "../plugins/socket.io";

export default {
  data () {
    return {
      form: {
        email: 'admin@wcccontrolsystem.com',
        password: 'admin'
      },
      error: null,
      backendStatus: 'online',
      loading: false
    }
  },
    computed: {
      showAlert(){
          return this.backendStatus !== 'online'
      }
    },
  created () {
      socket.io.on('connect_error', ()=>{
          this.backendStatus = 'offline'
      })
      socket.on('connect', ()=>{
          this.backendStatus = 'online'
      })
    if (this.$auth.$state.loggedIn) {
      this.$router.replace({ name: 'index' })
    }
  },
  methods: {
    async userLogin () {
      this.error = null
      this.loading = true
      await this.$auth
        .loginWith('local', { data: this.form })
        .catch((e) => {
          this.error = e.response.data.error
        }).finally((e) => {
          this.loading = false
        })
    }
  }
}
</script>

<style scoped>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
