<template>
  <div>
    <h1 class="title">Status</h1>
    <h2>Deployments</h2>
    <b-row>
      <b-col v-if="!errorDeployments">
        <b-col>
          <slot/>
        </b-col>
        <b-table
            outlined
            hover
            show-empty
            :busy="busyDeployment"
            :fields="deploymentFields"
            :items="deployments"
        >
          <template #cell(actions)="row">
            <b-button-group>
              <b-button size="sm" @click="scale(row.item.name, row.item.replicas - 1)">Scale down</b-button>
              <b-button size="sm" @click="scale(row.item.name, row.item.replicas + 1)">Scale up</b-button>
            </b-button-group>
          </template>
          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Loading...</strong>
            </div>
          </template>

        </b-table>
      </b-col>
        <b-alert v-else>Cannot get deployment information.</b-alert>
    </b-row>

    <h2>Pods</h2>
    <div v-if="!errorPods">
      <b-row>
        <b-col cols="12" sm="5">
          <b-input-group>
            <b-form-input v-model="filterPods" placeholder="Type to filter results"/>
            <b-input-group-append>
              <b-button :disabled="!filterPods" @click="filterPods = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-table
              class="mt-3"
              striped
              responsive
              caption-top
              outlined
              hover
              show-empty
              :busy="busyPods"
              :filter="filterPods"
              :fields="fieldsPods"
              :items="formData"
          >

            <template v-slot:cell(startTime)="data">
                {{ convertTimestamp(data.value) }}
            </template>

            <template v-slot:cell(actions)="row">
              <b-button size="sm" variant="danger" @click="deletePod(row.item)">Delete</b-button>
            </template>

            <template v-slot:table-caption>See the status of each service.</template>
            <template v-slot:table-busy>
              <div class="text-center text-danger my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong>Loading...</strong>
              </div>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </div>
      <alert v-else>Cannot get pods information</alert>

    <h2>Event log</h2>
    <div v-if="!errorEvents">
    <b-row>
      <b-col>
        <slot/>
      </b-col>
      <b-col cols="12" sm="5">
        <b-input-group>
          <b-form-input v-model="filterEvents" placeholder="Type to filter results"/>
          <b-input-group-append>
            <b-button :disabled="!filterEvents" @click="filterEvents = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
    </b-row>
    <b-row>
      <b-table
          id="eventTable"
          responsive
          :items="events"
          :busy="busyEvents"
          :fields="eventFields"
          :filter="filterEvents"
          :sortBy.sync="eventsSortBy"
          :sort-desc.sync="eventsSortDesc"
          head-variant="light">

          <template v-slot:cell(lastTimestamp)="data">
              {{ convertTimestamp(data.value) }}
          </template>
        <template v-slot:table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>

      </b-table>
    </b-row>
    </div>
    <alert v-else>Cannot get events information.</alert>
  </div>

</template>

<script>

  // TODO: Break this page up in components.

    export default {
        name: "status",
        middleware: ['auth'],
        layout: 'admin',
        created() {
            this.fetchPods();
            this.fetchDeployments();
            this.fetchEvents();
            setInterval(() => {
                // Fetch K8s status
                this.fetchPods();
                this.fetchDeployments();
                this.fetchEvents();

            }, 3000)

        },
        data() {
            return {

                errorPods: '',
                errorDeployments: '',
                errorEvents: '',
                pods: [],
                events: [],
                deployments: [],
                error: '',
                loading: true,
                busyDeployment: true,
                busyEvents: true,
                busyPods: true,
                filterPods: '',
                filterEvents: '',
                eventsSortBy: 'lastTimestamp',
                eventsSortDesc: true,
                fieldsPods: [
                    {key: 'name', label: 'Name', stickyColumn: true, sortable: true},
                    {key: 'app', label: 'Application', sortable: true},
                    {key: 'phase', label: 'Phase', sortable: true},
                    {key: 'restartCount', label: 'Restarts', sortable: true},
                    {key: 'startTime', label: 'Start time', sortable: true},
                    {key: 'actions', label: "Actions"}
                ],
                eventFields: [
                    {key: 'name', label: 'Name', stickyColumn: true, sortable: true},
                    {key: 'type', label: 'Type', sortable: true},
                    {key: 'message', label: 'Message'},
                    {key: 'lastTimestamp', label: 'Timestamp', sortable: true},
                    {key: 'count', label: 'Count', sortable: true}
                ],
                deploymentFields: [
                    {key: 'name', label: 'Name'},
                    {key: 'replicas', label: 'Replicas'},
                    {key: 'actions', label: 'Actions'}
                ]
            }
        },
        methods: {
            convertTimestamp(timestamp) {
                if (!timestamp) return null;
                return Intl.DateTimeFormat('nl', {
                    weekday: 'long', day: 'numeric', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric',
                }).format(new Date(timestamp));
            },
            async fetchEvents() {
                this.$axios.get('/events ')
                    .then(res => {
                        this.busyEvents = false
                        this.errorEvents = ''
                        // Only change event log if it's new
                        if (res.data !== this.events.length) this.events = res.data
                    })
                    .catch(err => this.errorEvents = 'Cannot get events')
            },
            async fetchPods() {
                this.$axios.get('/status')
                    .then(res => {
                        this.errorPods = ''
                        this.pods = res.data
                        this.busyPods = false
                    })
                    .catch(err => this.errorPods = err)
            },
            async fetchDeployments() {
                this.$axios.get('/deployments')
                    .then(res => {
                        this.errorDeployments = ''
                        this.busyDeployment = false
                        this.deployments = res.data
                    })
                    .catch(err => this.errorDeployments = err)
            },
            deletePod(item) {
                this.busyPods = true
                this.$axios.post('/pod/delete', {podName: item.name})
                    .then(res => {
                        console.log(res)
                        this.$bvToast.toast(`Deleted Pod ${item.name}`, {
                            title: 'Delete Pod',
                            autoHideDelay: 4000, variant: 'success', solid: true
                        })
                    })
                    .catch(err => {
                        console.error(err)
                        this.$bvToast.toast(`${err}`, {
                            title: 'Error deleting pod',
                            autoHideDelay: 4000, variant: 'danger', solid: true
                        })
                    })
            },
            scale(name, replicas) {
                if (replicas <= 0 || replicas > 10) {
                    this.$bvToast.toast('Replicas have a minimum of one and a maximum of 10', {
                        title:
                            'Deployment error', autoHideDelay: 4000, variant: 'danger', solid: true
                    })
                    return
                }
                this.busyDeployment = true
                this.$axios.post('/deployments/scale', {name: name, replicas: replicas})
                    .then(res => {
                        this.$bvToast.toast(`Scaled ${name} successfully`, {
                            title: 'Deployment scaling', autoHideDelay: 4000, variant: 'success', solid: true
                        })
                    })
                    .catch(err => this.$bvToast.toast(err, {
                        title:
                            'Deployment error', autoHideDelay: 4000,variant: 'danger', solid: true
                    }))
            }
        },
        computed: {
            formData() {
                this.pods.forEach((pod) => {
                    pod._rowVariant = (pod.phase === "Running" ? 'success' : 'danger')
                })
                return this.pods
            }
        }
    }
</script>

<style scoped>

</style>
