<template>
  <div class="container">
    <div>
      <h1 class="title">
        Users
      </h1>
      <b-alert v-model="showAlert" :variant="alertVariant" dismissible>
        {{ alertMessage }}
      </b-alert>

      <b-button @click="showModal = true">Add new user</b-button>



      <b-modal v-model="showModal" :title="'New user'" hide-footer @hide="onCancel">
        <b-form @submit.stop.prevent="onSubmitForm" @reset.stop.prevent="onCancel">
          <b-form-group label="Name:">
            <b-form-input
                id="name"
                v-model="formName"
                required
                :placeholder="'Username'"/>
          </b-form-group>

          <b-form-group label="Email:">
            <b-form-input
                id="email"
                v-model="formEmail"
                required
                type="email"
                :placeholder="'Enter email'"/>
          </b-form-group>

          <b-form-group label="Password:">
            <b-form-input
                id="password"
                v-model="formPassword"
                required
                type="password"/>
          </b-form-group>

          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
      </b-modal>


      <users-table :users="users" :filter="filter">
      </users-table>
    </div>
  </div>
</template>

<script>
import UsersTable from '../components/UsersTable.vue'


export default {
  name: 'UserPage',
  components: { UsersTable },
  middleware: ['auth'],
  layout: 'admin',
  async asyncData({ $axios }){
    const response = await $axios.get('/users')
    return {users : response.data.users}
  },
    methods: {
      onSubmitForm() {
        this.showModal = false
        this.$axios.post('/auth', {
            name: this.formName,
            email: this.formEmail,
            password: this.formPassword
        })
          .then((response) => {
            this.alertMessage = `User successfully created!`
            this.alertVariant = 'success'
            this.showAlert = true
              this.$axios.get('/users')
              .then(res => this.users = res.data.users)

          })
          .catch((error) => {
              this.alertMessage = 'User could not be created: (' + error.status + ') ' + error.statusText
              this.alertVariant = 'danger'
              this.showAlert = true
          })
      },
      onCancel() {
        this.formName = '';
        this.formEmail = '';
        this.formPassword = '';
        this.showModal = false;
      }
    },
  data() {
    return {
      showModal: false,
      showAlert: false,
      alertVariant: null,
      alertMessage: '',
      filter: null,
      users: null,
      formName: '',
      formEmail: '',
      formPassword: ''
    };
  },
}
</script>
