<template>
  <div>
    <hr>
    <b-row>
      <b-col cols="auto">
        <h2>{{ type }}s</h2>
      </b-col>
<!--      <b-col>-->
<!--        <b-button variant="outline-primary" @click="showAddDeviceModal = true">-->
<!--          Add {{ type }}-->
<!--        </b-button>-->
<!--      </b-col>-->
    </b-row>

<!--    <b-modal v-model="showAddDeviceModal" :title="'Add ' + type" @ok="onSubmitDevice">-->
<!--      <b-form @submit.stop.prevent="onSubmitDevice">-->
<!--        <b-form-group label="Name:">-->
<!--          <b-form-input-->
<!--            id="name"-->
<!--            v-model="form.name"-->
<!--            required-->
<!--            :placeholder="'Enter ' + type + ' name'"-->
<!--          />-->
<!--        </b-form-group>-->
<!--        <b-form-group label="Type:">-->
<!--          <b-form-select-->
<!--            id="type"-->
<!--            v-model="form.subtype"-->
<!--            required-->
<!--            :options="options"-->
<!--          />-->
<!--        </b-form-group>-->
<!--      </b-form>-->
<!--    </b-modal>-->

    <ul class="grid-container">
      <li v-for="(device, index) in devices" :key="`device-` + type + `${index}`">
        <div v-if="device.type === type">
          <DeviceCard
            class="item"
            :device="device"
          />
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import DeviceCard from './DeviceCard.vue'

export default {
  name: 'DeviceOverview',
  middleware: ['auth'],
  components: { DeviceCard },
  props: {
    type: {
      type: String,
      required: true
    },
    devices: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      form: null,
      options: null,
      showAddDeviceModal: false
    }
  },
  created () {
    this.setFormAndOptions();
  },
  methods: {
    onSubmitDevice (evt) {
      //  TODO use VUEX.
      evt.preventDefault()
      this.$axios.post('/devices', this.form)
      .catch((error) => {
        console.log(error)
      })
      //TODO: error handling on jwt expire.
      this.showAddDeviceModal = false
    },
    setFormAndOptions () {
      if (this.type === 'Sensor') {
        this.form = {
          name: '',
          type: 'Sensor',
          subtype: null,
          value: '0',
          status: null,
          favorite: false
        }
        this.options = [
          {
            value: null,
            text: 'Please select a devices type',
            disabled: true
          },
          {
            value: 'Temperature Inside',
            text: 'Temperature Inside'
          },
          {
            value: 'Temperature Outside',
            text: 'Temperature Outside'
          }
        ]
      }
      if (this.type === 'Actuator') {
        this.form = {
          name: '',
          type: 'Actuator',
          subtype: null,
          status: null,
          favorite: false
        }

        this.options = [
          {
            value: null,
            text: 'Please select a actuator type',
            disabled: true
          },
          {
            value: 'ac',
            text: 'AC'
          },
          {
            value: 'heater',
            text: 'Heater'
          }
        ]
      }
    }
  }
}
</script>

<style scoped>
.grid-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.grid-container .item {
  flex: 1;
}
</style>
