<template>
  <div>
    <b-card
        :title="device.name"
        :sub-title="device.subtype"
        class="device-card"
    >
      Status:
      <b-badge :variant="statusVariant">
        {{ device.status ? "ON" : "OFF" }}
      </b-badge>

      <br>
      <div v-if="device.type==='Sensor'">
        Latest reading:
        <b-badge>{{ device.value }}</b-badge>
      </div>
      <div class="buttons" style="margin-top: 15px">
        <b-button @click="showEditModal = true" size="sm" variant="outline-primary">
          <b-icon icon="pencil-square"></b-icon>
          Edit
        </b-button>
        <b-button @click="toggleFavorite" size="sm" :variant="device.favorite? 'warning' :'outline-warning'">
          <b-icon :icon="device.favorite ? 'star-fill' : 'star'"></b-icon>
          Favorite
        </b-button>
        <b-spinner v-if="toggleLoading"></b-spinner>
        <b-button v-else @click="toggleStatus" size="sm" :variant="device.status ? 'danger': 'success'">
          <b-icon icon="power"></b-icon>
        </b-button>
      </div>
    </b-card>


    <b-modal v-model="showEditModal" :title="'Edit device'" hide-footer @hide="onCancel">
      <b-form @submit.stop.prevent="onSubmitForm" @reset.stop.prevent="onReset">
        <b-form-group label="Name:">
          <b-form-input
              id="name"
              v-model="formName"
              required
              :placeholder="this.device.name"/>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
    export default {
        name: 'ActuatorCard',
        middleware: ['auth'],
        data() {
            return {
                toggleLoading: false,
                showEditModal: false,
                name: this.device.name,
                formName: this.device.name
            }
        },
        computed: {
            statusVariant() {
                return this.device.status ? 'success' : 'danger'
            },
        },
        props: {
            device: {
                type: Object,
                required: true
            }
        },
        methods: {
            onCancel() {
                this.formName = this.device.name
            },
            onSubmitForm() {
                this.showEditModal = false
                this.formName = this.formName.split(' ').join('')

                if (this.formName.length > 0) {
                    this.$store.dispatch('devices/setDeviceName', {
                        _id: this.device._id,
                        name: this.formName
                    })
                }
                this.formName = this.device.name

            },
            onReset() {
                this.showEditModal = false
            },
            toggleFavorite() {
                this.$store.dispatch('devices/toggleFavorite', this.device)
            },
            toggleStatus() {
                this.toggleLoading = true
                this.$store.dispatch('devices/toggleStatus', this.device)
                    .then(() => {
                        this.toggleLoading = false
                    })
            }
        }
    }
</script>

<style scoped>
  .device-card {
    max-width: 20rem;
    margin-right: 1em;
    margin-top: 1em;
    padding: 0.25em;
  }
</style>
