<template>
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" :class="{ 'show': toggled }">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column">
        <template v-for="(sidebarItem, index) in sidebarItems">
          <SidebarItem
            :key="`sidebarItem-${index}`"
            :to="sidebarItem.slug !== 'external' ? sidebarItem.url : ''"
            :href="sidebarItem.slug === 'external' ? sidebarItem.url : ''"
            :icon="sidebarItem.icon"
            :target="sidebarItem.target"
            :is-disabled="sidebarItem.isDisabled"
          >
            {{ sidebarItem.name }}
          </SidebarItem>
        </template>
      </ul>
    </div>
  </nav>
</template>

<script>
import SidebarItem from '@/components/sidebar/SidebarItem'

export default {
  name: 'Sidebar',
  components: { SidebarItem },
  props: {
    toggled: {
      type: Boolean,
      required: true
    },
    sidebarItems: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

</style>
