<template>
  <li class="nav-item">
    <router-link
      v-if="to"
      :to="to"
      :class="[{'active': activeLink}]"
      class="nav-link"
      :target="target"
      exact
    >
      <b-icon v-if="icon" class="icon" :icon="icon" />
      <slot />
    </router-link>
  </li>
</template>

<script>

export default {
  name: 'SidebarItem',

  props: {
    icon: {
      default: '',
      type: String
    },
    href: {
      default: '#',
      type: String
    },
    to: {
      default: null,
      type: String
    },
    index: {
      default: null,
      type: [String, Number]
    },
    target: {
      default: '_self',
      type: String
    },
    isDisabled: {
      default: false,
      type: Boolean
    }
  },
  data () {
    return {
      activeLink: false
    }
  },
  watch: {
    '$route' () {
      // this.CheckIsActive()
    }
  },
  updated () {
    this.CheckIsActive()
  },
  mounted () {
    // console.log( this.$route.path.slice(1)==(this.to.slice(1))  );
    // console.log(this.$route.path);
    // console.log(this.to);
  },
  methods: {
    CheckIsActive () {
      if (this.to) {
        this.activeLink = this.$route.path.slice(1) === (this.to.slice(1))
      }
    }
  }
}
</script>
<style scoped>
.icon {
  color: grey;
}

.nav-link {
  font-weight: 500;
  color: #333;
}
.nav-link.nuxt-link-active {
  color: #007bff;
  background: rgba(0, 0, 0, .05);
}
</style>
